.idea/
.bloop
.metals
.sbtopts
project/.sbt
project/travis-deploy-key
project/secrets.tar.xz
project/zecret
project/metals.sbt
target
test-output/
.DS_Store
website/node_modules
website/i18n/en.json
website/yarn.lock
website/build
